<div class="center_content">
	<div class="left_content">
		<div class="title">
			<span class="title_icon"> <img src="/assets/bullet1.gif" alt="" title="" /></span>About us
		</div>

		<div class="feat_prod_box_details">
			<p class="details">
				<img src="/assets/about.gif" alt="" title="" class="right" />
			<p>
				BookStore.net is a super quick and simple search engine for books that
				helps you find the price and availability of books across various online
				bookstores. It also provides user store reviews, which further help users
				to choose the best deal on the right store.

				The BookStore.net blog Bookish is _the_ destination for bibliophiles.
				It provides users book reviews, author interviews, articles by published authors,
				book releases, information on literary events, interesting articles that trigger your
				nerves to think and more.

				BookStore.net will hopefully help you find your book, and save some money to top it off. :)

				We are small and growing, your feedback is highly appreciated.

				Follow us on <a href="http://www.facebook.com">Facebook</a> or <a href="http://www.twitter.com">Twitter</a>.
			</p>
		</div>
		<div class="clear"></div>
	</div>
</div>

