<div class="center_content">
	<div class="left_content">
		<div class="title">
				<span class="title_icon"> <img title="" alt="" src="/assets/bullet1.gif"></img> </span>
				Catageory
		</div>

		<div class="new_products">

			<div class="new_prod_box">
				<a href="">Ruby Language</a>

				<div class="new_prod_bg">

					<img src="/assets/ii.jpg" alt="" title="" class="thumb" border="0" />
					</a>
				</div>
			</div>

			<div class="new_prod_box">
				<a href="">Learn to Program</a>
				<div class="new_prod_bg">
					<span class="new_icon"> <img src="/assets/new_icon.gif" alt="" title="" /></span>

					<img src="/assets/h.jpg" alt="" title="" class="thumb" border="0" />
					</a>
				</div>
			</div>

			<div class="new_prod_box">
				<a href="">Ruby Tutorials</a>
				<div class="new_prod_bg">
					<span class="new_icon"> <img src="/assets/promo_icon.gif" alt="" title="" /></span>

					<img src="/assets/oh.jpg" alt="" title="" class="thumb" border="0" />
					</a>
				</div>
			</div>

			<div class="title">
				<span class="title_icon"><img src="/assets/bullet2.gif" alt="" title="" /> </span><abbr title="Cascading Style Sheet" class="initialism"><a href="">CSS</a></abbr>
			</div>

			<div class="new_products">
				<div class="new_prod_box">
					<a href="">Beginning CSS</a>
					<div class="new_prod_bg">

						<img src="/assets/gth.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>

				<div class="new_prod_box">
					<a href="">The Book of CSS 3</a>
					<div class="new_prod_bg">
						<span class="new_icon"> <img src="/assets/promo_icon.gif" alt="" title="" /></span>

						<img src="/assets/sc.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>

				<div class="new_prod_box">
					<a href="">Complete CSS</a>
					<div class="new_prod_bg">

						<img src="/assets/d.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>
			</div>

			<div class="title">
				<span class="title_icon"><img src="/assets/bullet2.gif" alt="" title="" /> </span>
				<a href="">JavaScript</a>
			</div>

			<div class="new_products">

				<div class="new_prod_box">
					<a href="">JS for web Developers</a>
					<div class="new_prod_bg">
						<span class="new_icon"> <img src="/assets/new_icon.gif" alt="" title="" /></span>

						<img src="/assets/jaa.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>

				<div class="new_prod_box">
					<a href="">The Complete reference</a>
					<div class="new_prod_bg">

						<img src="/assets/d.jpg" alt="" title="" class="tkrhumb" border="0" />
						</a>
					</div>
				</div>

				<div class="new_prod_box">
					<a href="">JS for web Apps</a>
					<div class="new_prod_bg">

						<img src="/assets/pr.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>

			</div>

			<div class="title">
				<span class="title_icon"><img src="/assets/bullet2.gif" alt="" title="" /> </span><abbr title="HyperText Markup Language" class="initialism"><a href="">HTML</a></abbr>
			</div>

			<div class="new_products">

				<div class="new_prod_box">
					<a href="">Head first HTML</a>
					<div class="new_prod_bg">
						<span class="new_icon"> <img src="/assets/new_icon.gif" alt="" title="" /></span>

						<img src="/assets/hhk.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>
				<div class="new_prod_box">
					<a href="">HTML 5 Dummles</a>
					<div class="new_prod_bg">

						<img src="/assets/lll.png" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>

				<div class="new_prod_box">
					<a href="">The Complete Reference</a>
					<div class="new_prod_bg">

						<img src="/assets/uk.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>

			</div>
		</div>

		<div class="clear"></div>
	</div>
</div>
