<div class="center_content">
	<div class="left_content">
		<%= form_tag '/uploads/uploadFile', :multipart => true do %>
		<label for="dafile"><h4>Upload Book</h4></label> <%= file_field_tag "dafile" %>
		<%= submit_tag "Upload"%>
		<% end %>
	</div>
</div>

<div class="content">
	<div id="drop-files" ondragover="return false">
		Drop Images Here
	</div>

	<div id="uploaded-holder">
		<div id="dropped-files">
			<div id="upload-button">
				<a href="#" class="upload">Upload!</a>
				<a href="#" class="delete">delete</a>
				<span>0 Files</span>
			</div>
		</div>
		<div id="extra-files">
			<div class="number">
				0
			</div>
			<div id="file-list">
				<ul></ul>
			</div>
		</div>
	</div>

	<div id="loading">
		<div id="loading-bar">
			<div class="loading-color"></div>
		</div>
		<div id="loading-content">
			Uploading file.jpg
		</div>
	</div>

	<div id="file-name-holder">
		<ul id="uploaded-files">
			<h1>Uploaded Books</h1>
		</ul>
	</div>
</div>